:root {
    --bg-base: #00809D;
    --bg-base2: #F3A26D;
    --bg-base3: #FCECDD;
    --container-size-min: 15rem;
    --container-size-max: 20rem;
    --container-size-ideal: 17rem;
    font-size: 14px;
}


hr{
    margin: 0;
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc)
}
.h1-title{
    max-width: 75%;
    margin: 0;
    font-size: 1.1em;
}
.notes-header{
    height: fit-content;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}
.button-div > button{
    margin: 0;
    padding: 0;
    width: 13px;
    height: 13px;
}
.button-div{
    padding: 0;
    height: 14px;
    gap: 5px;
    display: flex;
    flex-direction: row;
}
.notes-container{
    gap: 0.2em;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    background-color: #FCECDD;
    padding: 0.5em;
    border: solid black;
    width: max(var(--container-size-min), var(--container-size-max));
    aspect-ratio: 1/1;
}
.notes-content{
    font-size: 1rem;
}

.button-add{
    background-color: #7dce76;

}
.button-del{
    background-color: #ff6060;

}
.button-pin{
    background-color: #fff678;

}